<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Interview Evaluation</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
</head>
        <body>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Interview Evaluation", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Users", "List", "Users")</li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            @if (User.Identity.IsAuthenticated)
                    {
                        <li class="text-muted navbar-btn" style="padding-top: 7px;">@User.Identity.Name</li>
                        <li>@Html.ActionLink("Edit Profile", "Edit", "Users")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Auth")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Auth")</li>
                    }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container body-content">
                <br />
                <br />
                <br />
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Purdue CCO Interview Evaluation</p>
                </footer>
            </div>

            @*<script type="text/javascript" src='@Url.Content("~/Scripts/Users/List.js")'></script>*@
            <script>
                console.log("hello!")
            </script>
        </body>
        </html>