@using InterviewEvaluation.Models
@model UsersEditViewModel
@{
    ViewBag.Title = "User Edit";
}

<h3>@ViewBag.Title.</h3>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h4>Edit user account settings.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @*@Html.TextBoxFor(m => m.Id, new { @class = "form-control" })*@
                        <li>@User.Identity.AuthenticationType</li>
                        <li>@user.Id</li>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @User.Identity.Name
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserRole, new { @class = "col-md-2 control-label" })
                     <div class="col-md-10">
                         @*@Html.TextBoxFor(m => m.UserRole, new { @class = "form-control" })*@
                         @Html.DropDownListFor(m => m.UserRole, new List<SelectListItem>
                            //{ new SelectListItem{Text="Admin", Value="User"},
                            //  new SelectListItem{Text="User", Value="Admin"}}, "Please select")
                         { new SelectListItem{Text="Admin", Value="1"},
                              new SelectListItem{Text="User", Value="0"}}, "Please select")
                 </div>
                </div>                
                
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Edit" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>