@using InterviewEvaluation.Models
@using PagedList.Mvc
@model PagedList.IPagedList<InterviewEvaluation.EntityModels.AspNetUser>
@{
    ViewBag.Title = "Users List";
}

<h3>@ViewBag.Title.</h3>
<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                FullName
            </th>
            <th>
                @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BioText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgData)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    <div class="col-md-8">
        <div id="searchUsers"><h1></h1></div>

        <div>
            @Html.TextBox("query", "", new { @id = "query" })
            <button type="submit" onclick="getSearch()">Search</button>
        </div>
        <div id="div1">
            @Html.DropDownList("Users", new List<SelectListItem>(), new { @id = "UserList"})
        </div>

        <!--Search Results Form-->
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                </tr>
            </thead>
            <tbody id="SearchResultTable">
                <tr>
                    <td id="SearchResultID">
                    </td>
                    <td id="SearchResultEmail">
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    console.log("hello_List!")
    function getSearch() {
        console.log($("#query").val())
        console.log(typeof($("#query").val()))
        $.ajax({
            type: "POST",
            //url: "../../../Controllers/Search",
            url: "./Search",
            data: { query: $("#query").val() },
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function OnSuccess(response) {
        //alert("Success!");
        console.log(response);
        console.log('response Text: ' + response[0].Text);
        console.log('response Value: ' + response[0].Value);

        // Dropdown List
        document.getElementById('UserList').options.length = 0
        var select = $("#UserList")
        
        $.each(response, function (i) {
            var option = document.createElement('option');
            option.text = response[i].Text;
            option.value = response[i].Value;
            select.append(option);
        })

        // Search Result Table
        var SearchResultID = $("#SearchResultID")
        var ResultEmail = $("#SearchResultEmail")

        // Delete the orginal search results.
        $("#SearchResultID").empty("");
        $("#SearchResultEmail").empty("");

        // Update each column separately.
        $.each(response, function (i) {
            SearchResultID.append('<tr><td>' + response[i].Value + '</td></tr>');
            ResultEmail.append('<tr><td>' + response[i].Text + '</td></tr>');
        })
    }

</script>



